<h1>Список фильмов</h1>
<input type="button" value="Добавить" class="btn btn-default" (click)="add()" />
<table *ngIf="tableMode; else create" class="table table-striped">
    <thead>
        <tr>
            <td><p></p></td>
            <td><p><b>Название</b></p></td>
            <td><p><b>Режиссер</b></p></td>
            <td><p><b>Жанр</b></p></td>
            <td><p><b>Год</b></p></td>
            <td><p><b>Рейтинг</b></p></td>
            <td><p><b>Описание</b></p></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of films">
            <ng-template [ngIf]="film?.id != p.id" [ngIfElse]="edit">
                <td><img src={{p?.picture}} width="130" height="230" alt="" /></td>
                <td><p><b>{{p?.name}}</b></p></td>
                <td><p><b>{{p?.producer}}</b></p></td>
                <td><p><b>{{p?.genre}}</b></p></td>
                <td><p><b>{{p?.year}}</b></p></td>
                <td><p><b>{{p?.rating}}</b></p></td>
                <td><p><b>{{p?.description}}</b></p></td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="editFilm(p)">Изменить</button>
                    <button class="btn btn-sm btn-danger" (click)="delete(p)">Удалить</button>
                </td>
            </ng-template>
        </tr>
    </tbody>
</table>

<!--шаблон для редактирования-->
<ng-template #edit>
    <td>
        <input type="image" [(ngModel)]="film.picture" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="film.name" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="film.producer" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="film.genre" class="form-control" />
    </td>
    <td>
        <input type="number" [(ngModel)]="film.year" class="form-control" />
    </td>
    <td>
        <input type="number" [(ngModel)]="film.rating" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="film.description" class="form-control" />
    </td>
    
    <td>
        <input type="button" value="Сохранить" (click)="save()" class="btn btn-sm btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-sm btn-warning" />
    </td>
</ng-template>

<!--шаблон для добавления-->
<ng-template #create>
    <div class="form-group">
        <label>Изображение</label>
        <input type="image" [(ngModel)]="film.picture" class="form-control" />
    </div>
    <div class="form-group">
        <label>Название</label>
        <input type="text" [(ngModel)]="film.name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Режиссер</label>
        <input type="text" [(ngModel)]="film.producer" class="form-control" />
    </div>
    <div class="form-group">
        <label>Жанр</label>
        <input type="text" [(ngModel)]="film.genre" class="form-control" />
    </div>
    <div class="form-group">
        <label>Год</label>
        <input type="number" [(ngModel)]="film.year" class="form-control" />
    </div>
    <div class="form-group">
        <label>Рейтинг</label>
        <input type="number" [(ngModel)]="film.rating" class="form-control" />
    </div>
    <div class="form-group">
        <label>Описание</label>
        <input type="text" [(ngModel)]="film.description" class="form-control" />
    </div>
    
    <div>
        <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
    </div>
</ng-template>